@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

My name is Ngo Phuoc Loc. This project to learn CI/CD with Github Action
My Profile:
<a href="https://www.linkedin.com/in/ngo-loc-9bb433256/" target="_blank">Linkedin</a>

Welcome to your new app.
